<html ng-app="pools">
<head>
  <title ng-bind="window_title || 'Dashboard | Democats.org'">Dashboard | Democats.org</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>


  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.29/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
  <script src="http://code.highcharts.com/stock/highstock.src.js"></script>
  <script src="/dist/highcharts-ng.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-moment/1.0.0-beta.3/angular-moment.min.js"></script>
  <script src="/dist/angular-local-storage.min.js"></script>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">

  <script src="/config.js"></script>

  <link rel="stylesheet" href="/css/styles.css">

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-883823-26', 'auto');
    ga('send', 'pageview');

  </script>
</head>


<body>
<div class="main-app-container">
  
<header class="old-header ng-scope">
   <div class="navbar navbar-inverse">
      <div class="container">
         <div class="row">
            <div class="col-xs-2">
               <div class="navbar-header">
                  <div class="logo-wrapper"><a target="_self" href="/">Democats</a></div>
               </div>
            </div>
            <div class="col-xs-10">
               <div class="nav navbar-nav">
                  <div class="links pull-left"><span class="iconed-part">
                  <a target="_self" class="" href="/dashboard/">Dashboard</a>
                  <a target="_self" class="" href="/">Pools</a>
                  <a target="_self" class="" href="/blockchain/?name=dashcoin">Blockchains</a>
                  <a target="_self" class="" href="/charts/?name=dashcoin">Charts</a>
                  </span></div>
               </div>
            </div>
         </div>
      </div>
   </div>
</header>

  
<div class="container" ng-controller="DashboardCtl">
   <noscript></noscript>
   <div>
      <div class="center-tpl">
         <div class="row">
            <div class="col-xs-12">
               <h4 class="mine-title"><span class=""></span><span>Track address</span></h4>
            </div>

  <div class="col-xs-8" style="margin-bottom:40px">
    <div class="input-group">
      <div class="input-group-btn">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{selected_pool.name | capitalize}} <span class="caret"></span></button>
        <ul class="dropdown-menu dropdown-menu-right">
          <li ng-repeat="pool in pools | orderBy: 'name'"><a ng-click="changePool(pool)">{{pool.name}}</a></li>
        </ul>
      </div><!-- /btn-group -->
      <input type="text" class="form-control" aria-label="Address..." ng-model="newAddress" />
      <span class="input-group-btn">
        <button class="btn btn-primary" type="button" ng-click="addAddress()">Track!</button>
      </span>
    </div><!-- /input-group -->
  </div><!-- /.col-xs-8 -->

         </div>
         <div class="row" ng-repeat="address in addresses" inner-var="address_index = $index">
            <div class="col-xs-12">
               <h4 class="mine-title">
                  <span class="balanceFloat">{{address.address}}</span>
                  <div class="options pull-right">
                    <span data-hint="remove" class="hint--top hint--rounded hint--tooltip"><a class="panel-icon panel-icon-hide" ng-click="removeAddress($index)"></a></span>
                    <span data-hint="move up" class="hint--top hint--rounded hint--tooltip" ng-hide="$first" ng-click="moveUpAddress($index)"><a class="panel-icon panel-icon-up"></a></span>
                    <span data-hint="move down" class="hint--top hint--rounded hint--tooltip" ng-hide="$last" ng-click="moveDownAddress($index)"><a class="panel-icon panel-icon-down"></a></span>
                    <a href="/dashboard/payments/?currency={{address.currency}}&amp;address={{address.address}}" class="panel-link">Payments history</a></div>
               </h4>
               <div class="mining-panel" ng-class="{success: addresses_stats[address_index].stats.hashrate}" nsuccess="" ng-repeat="currency in currencies | filter: address.currency">
                  <div class="row">
                    <div class="col-xs-6">
                        <div class="mining-block">
                           <h2>
                              <span>{{address.currency}}</span><span class="speed" ng-show="addresses_stats[address_index].stats.hashrate" ng-repeat-start="item in addresses_stats[address_index].stats.hashrate.split(' ')" ng-if="!$last">{{item}}</span><small ng-repeat-end="" ng-if="$last">{{item}}/s</small>
                              <div class="data status-data"><span>Status:</span><b>{{addresses_stats[address_index].stats.hashrate ? "ONLINE" : "OFFLINE"}}</b></div>
                           </h2>

                           <div class="data">
                              <div class="subdata"><span>Unconfirmed:</span><b>{{addresses_stats[address_index].stats.balance | asCoinUnits:currency.coin_units | number: coin_unit_fraction}}</b><br /><span>Total mined:</span><b>{{addresses_stats[address_index].stats.paid | asCoinUnits:currency.coin_units | number: coin_unit_fraction}}</b></div>
                              <div class="subdata"><span>Good hashes:</span><b>{{addresses_stats[address_index].stats.hashes | number}}</b><br />
                              <span>Last submitted hash:</span><b>{{addresses_stats[address_index].stats.lastShare | amFromUnix | amUtc | timeAgo}}</b><br /></div>
                              <div class="subdata">
                              <span>Bad hashes:</span><b>0</b><br />
                              <span>&nbsp;</span>
                              </div>
                              <br /><small>Your coins will be send when the block is confirmed</small>
                           </div>
                        </div>
                     </div>
                     <div class="col-xs-3">
                        <div class="mining-block left-border">
                           <h2><span>Pool</span><span class="speed">{{currency.pool_hashrate|hashrateValue}}</span><small>{{currency.pool_hashrate|hashrateUnits}}/s</small></h2>
                           <div class="data"><span><span>Miners</span><span>:</span></span><b>{{currency.workers}}</b></div>
                           <div class="data"><span><span>Fee</span><span>:</span></span><b>{{currency.fee}}%</b></div>
                        </div>
                     </div>
                     <div class="col-xs-3">
                        <div class="mining-block left-border">
                           <h2><span>World</span><span class="speed">{{currency.world_hashrate|hashrateValue}}</span><small>{{currency.world_hashrate|hashrateUnits}}/s</small></h2>
                           <div class="data"><span><span>Blockchain height</span><span>:</span></span><b>{{currency.height | number}}</b></div>
                           <div class="data"><span><span>Difficulty</span><span>:</span></span><b>{{currency.difficulty | number}}</b></div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>

         <div class="row">
            <div class="col-xs-12 hidden-block"></div>
         </div>
      </div>
   </div>
</div>

<script src="/js/scripts.js"></script>

<script src="/js/app.js"></script>



  
<div>
   <nav id="footer" class="navbar navbar-default">
      <div class="shares">
         <div class="container">
            <div class="collapse navbar-collapse">
               <ul class="nav navbar-nav navbar-right">
                  <li class="copy"><a target="_self" href="/terms-of-use/">Terms of Use</a></li>
                  <li class="copy"><a target="_self" href="/support/">Support</a></li>
                  <li class="copy"><a target="_self" href="/"><span>© </span><span>2015</span><span> Democats</span></a></li>
               </ul>
            </div>
         </div>
      </div>
   </nav>
</div>

</div>
</body>
</html>
