
<div>
   <nav id="footer" class="navbar navbar-default">
      <div class="shares">
         <div class="container">
            <div class="collapse navbar-collapse">
               <ul class="nav navbar-nav navbar-right">
                  <li class="copy"><a href="/terms-of-use/">Terms of Use</a></li>
                  <li class="copy"><a href="/support/">Support</a></li>
                  <li class="copy"><a href="/"><span>© </span><span>2015</span><span> Democats</span></a></li>
               </ul>
            </div>
         </div>
      </div>
   </nav>
</div>
